*{
  margin: 0px;
  padding: 0px;
  }
  header, secton, footer, aside, nav, {
  display:block;
  }
  body{ 
     text-align:right;
     width:100%;
     display:-webkit-box;
     -webkit-box-pack: center;
     }
#big_wrapper{ 
       mass-width: 1000px;
          margin: 20px 0px;
          display:-webkit-box;
          -webkit-box-orient: vertical;
          -webkit-box-flex: 1;
       }
 #top_header{
   background: yellow;
   border: 3px solid green;
   padding: 20px;.
   }
   #top_menu{
   	border:red;
   	 background:red;
        color:white;
    }
   #top_menu li {
     display:inline-block;
     list-style: none;
     padding: 5px;
     font: bold 14px Tahoma;
     text-align:right;
     ;}
  #the_footer{
   clear:both;
   text-align: center;
   padding:20px;
   border-top: 2px  solid green;
   }   
  
